<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Dynae Test</h2>
            <h4>Jorge Castillo S</h4>
        </div>
        <img src="assets/img/dynae.png" alt="AdminMenu">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
        <mat-icon>import_contacts</mat-icon>
        contact
    </a>

</mat-nav-list>